
 <div class="schedule-form">
    <form id="form" method="POST" form action="localhost:3000/users/new">
        <div>
            <label for="userId" >User ID</label>
                <input type="text" name="userId" id="userId" required>
        </div>

        <div>
            <label for="lastname" >Day</label>
                <input type="text" name="day" id="day" required>
        </div>

    
        <div>
            <label for="startingTime">Starting Time</label>
                <input type="email" name="startingTime" id="startingTime" required>
        </div>

        <div>
            <label for="finishingTime" >Finishing Time</label>
                <input type="text" name="finishingTime" id="finishingTime" >
        </div>
        
        <input type="submit">

    </div>

