

<ul>

        <li>
            <p>First Name:</p><%= givenUser.firstname %>
            <p>Last Name:</p><%= givenUser.lastname %>
            <p>Email:</p><%= givenUser.email %>
            <p>Password:</p><%= givenUser.password %>
        </li>
     

</ul>
