


<ul>

    <% for(let i = 0; i < users.length; i ++) { %>
        <li>
            <p>First Name:</p><%= users[i].firstname %>
            <p>Last Name:</p><%= users[i].lastname %>
            <p>Email:</p><%= users[i].email %>
            <p>Password:</p><%= users[i].password %>
        </li>
        <% } %>

</ul>





