<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <container>
        <h1>Schedule website</h1>
    </container>

    <container class='content-area'>
        <!--How do i add css to this?? need margins-->

        <%{{ content block }}%>


       

    </container>


    
</body>
</html>